<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ohjic.flower.dao.UserMapper">

  <resultMap id="BaseResultMap" type="org.ohjic.flower.model.User">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_seq" jdbcType="BIGINT" property="userSeq" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="cell_phone" jdbcType="VARCHAR" property="cellPhone" />
    <result column="home_phone" jdbcType="VARCHAR" property="homePhone" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="reg_time" jdbcType="TIMESTAMP" property="regTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    user_id, user_name,  password, addr, cell_phone, home_phone, job, 
    gender, birth, email
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  
    <select id="selectList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="org.ohjic.flower.model.User">
    insert into user (user_id, user_seq, user_name, 
      reg_dt, password, addr, 
      cell_phone, home_phone, job, 
      gender, birth, email, 
      dept_seq, reg_time, role_seq, flag, academic, major
      )
    values (#{userId,jdbcType=VARCHAR}, #{userSeq,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{regDt,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{cellPhone,jdbcType=VARCHAR}, #{homePhone,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{gender,jdbcType=CHAR}, #{birth,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{deptSeq,jdbcType=BIGINT}, #{regTime,jdbcType=TIMESTAMP}, #{roleSeq,jdbcType=CHAR}, 
      #{flag,jdbcType=VARCHAR}, #{academic,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="org.ohjic.flower.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userSeq != null">
        user_seq,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="cellPhone != null">
        cell_phone,
      </if>
      <if test="homePhone != null">
        home_phone,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="regTime != null">
        reg_time
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userSeq != null">
        #{userSeq,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="cellPhone != null">
        #{cellPhone,jdbcType=VARCHAR},
      </if>
      <if test="homePhone != null">
        #{homePhone,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        #{regTime,jdbcType=TIMESTAMP}
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ohjic.flower.model.User">
    update user
    <set>
      <if test="userSeq != null">
        user_seq = #{userSeq,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="cellPhone != null">
        cell_phone = #{cellPhone,jdbcType=VARCHAR},
      </if>
      <if test="homePhone != null">
        home_phone = #{homePhone,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        reg_time = #{regTime,jdbcType=TIMESTAMP}
      </if>
      
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ohjic.flower.model.User">
    update user
    set user_seq = #{userSeq,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      cell_phone = #{cellPhone,jdbcType=VARCHAR},
      home_phone = #{homePhone,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      birth = #{birth,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  
</mapper>