<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <classPathEntry location="C:\Users\ohjic\.m2\repository\com\oracle\ojdbc8\12.1\ojdbc8-12.1.jar"/>

    <context id="context1">
    
        <jdbcConnection driverClass="oracle.jdbc.OracleDriver" connectionURL="jdbc:oracle:thin:@localhost:49161:xe" userId="medi" password="jwchjwch"/>
        <javaModelGenerator targetPackage="com.medi.hs.model" targetProject="medi-app-server"/>
        <sqlMapGenerator targetPackage="com.medi.hs.dao.mapper" targetProject="medi-app-server"/>
        <javaClientGenerator targetPackage="com.medi.hs.dao" targetProject="medi-app-server" type="XMLMAPPER"/>


           <table schema="medi" tableName="HANWHATOTALSC_GK" enableSelectByExample="false"
                                                 enableDeleteByExample="false"
                                                 enableCountByExample="false"
                                                 enableUpdateByExample="false"
                                                 selectByExampleQueryId="false">

            <columnOverride column="ID" property="id" />
            <columnOverride column="JUBSJUBNO" property="jubsjubno" />
            <columnOverride column="SDate" property="sdate" />
            <columnOverride column="No" property="no" />
            <columnOverride column="JUBGGUMKD" property="JUBGGUMKD" />
            <columnOverride column="BASCSUBJT" property="BASCSUBJT" />
			

        </table>

        <table schema="medi" tableName="HANWHA1CHASC" enableSelectByExample="false"
                                                 enableDeleteByExample="false"
                                                 enableCountByExample="false"
                                                 enableUpdateByExample="false"
                                                 selectByExampleQueryId="false">

            <columnOverride column="ID" property="id" />
            <columnOverride column="JUBSJUBNO" property="jubsjubno" />
            <columnOverride column="SDate" property="sdate" />
            <columnOverride column="No" property="no" />
            <columnOverride column="PanDate" property="panDate" />
            <columnOverride column="TrancDate" property="trancDate" />
			

        </table>
<!-- 
               <table schema="medi" tableName="member" enableSelectByExample="false"
                                                 enableDeleteByExample="false"
                                                 enableCountByExample="false"
                                                 enableUpdateByExample="false"
                                                 selectByExampleQueryId="false">

            <columnOverride column="member_seq" property="memberSeq" />
            <columnOverride column="id" property="id" />
            <columnOverride column="passwd" property="passwd" />
            <columnOverride column="name" property="name" />
            <columnOverride column="cell_phone" property="cellPhone" />
            <columnOverride column="email" property="email" />
            <columnOverride column="birthday" property="birthday" />
            <columnOverride column="birthday_solar" property="birthdaySolar" />
            <columnOverride column="is_authenticated" property="isAuthenticated" />
            <columnOverride column="is_deleted" property="isDeleted" />
            <columnOverride column="mod_date" property="modDate" />
            <columnOverride column="reg_date" property="regDate" />
			

        </table>
		<table schema="medi" tableName="HS_LABB42" enableSelectByExample="false"
                                                 enableDeleteByExample="false"
                                                 enableCountByExample="false"
                                                 enableUpdateByExample="false"
                                                 selectByExampleQueryId="false">

            <columnOverride column="ID" property="id" />
            <columnOverride column="JUBSJUBNO" property="jubsjubno" />
            <columnOverride column="SDate" property="sdate" />
            <columnOverride column="No" property="no" />
            <columnOverride column="Code" property="code" />
            <columnOverride column="Kname" property="kname" />
            <columnOverride column="Ename" property="ename" />
            <columnOverride column="Sname" property="sname" />
            <columnOverride column="Value" property="value" />
            <columnOverride column="Memo" property="memo" />
			<columnOverride column="DECISION" property="decision" />
			<columnOverride column="STYLE" property="style" />
			<columnOverride column="LOW_MAN" property="lowMan" />
			<columnOverride column="HIGH_MAN" property="highMan" />
			<columnOverride column="LOW_WOMAN" property="lowWoman" />
			<columnOverride column="HIGH_WOMAN" property="highWoman" />
			<columnOverride column="RefChar" property="refChar" />
			<columnOverride column="DAT_INSERT" property="datInsert" />
			<columnOverride column="COD_INSERT" property="codInsert" />

        </table>
      -->   
    </context>

</generatorConfiguration>