<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <classPathEntry location="C:\Users\ohjic\.m2\repository\org\mariadb\jdbc\mariadb-java-client\1.4.6\mariadb-java-client-1.4.6.jar"/>

    <context id="context1">
    
        <jdbcConnection driverClass="org.mariadb.jdbc.Driver" connectionURL="jdbc:mariadb://storage.qfun.kr:3306/kyo6"
                        userId="root" password="rhkfh1"/>
        <javaModelGenerator targetPackage="org.ohjic.mem.model" targetProject="member-api"/>
        <sqlMapGenerator targetPackage="org.ohjic.mem.dao.mapper" targetProject="member-api"/>
        <javaClientGenerator targetPackage="org.ohjic.mem.dao" targetProject="member-api" type="XMLMAPPER"/>


       <table schema="member" tableName="member" enableSelectByExample="false"
                                                 enableDeleteByExample="false"
                                                 enableCountByExample="false"
                                                 enableUpdateByExample="false"
                                                 selectByExampleQueryId="false">

            <columnOverride column="tid" property="tid" />
            <columnOverride column="fid" property="fid" />
            <columnOverride column="grade" property="grade" />
            <columnOverride column="fam_leader" property="famLeader" />
            <columnOverride column="relation" property="relation" />
            <columnOverride column="member_name" property="memberName" />
            <columnOverride column="member_name_distinct" property="memberNameDistinct" />
            <columnOverride column="member_name_en" property="memberNameEn" />
            <columnOverride column="member_name_han" property="memberNameHan" />
            <columnOverride column="rrn_id1" property="rrnId1" />
            <columnOverride column="rrn_id2" property="rrnId2" />
            <columnOverride column="birth_year" property="birthYear" />
            <columnOverride column="birth_date" property="birthDate" />
            <columnOverride column="birth_solar" property="birthSolar" />
            <columnOverride column="member_sex" property="memberSex" />
            <columnOverride column="blood_type" property="blood_type" />
            <columnOverride column="member_homepage" property="memberHomepage" />
            <columnOverride column="member_phone" property="memberPhone" />
            <columnOverride column="member_cellphone" property="memberCellphone" />
            <columnOverride column="member_email" property="memberEmail" />
            <columnOverride column="p_grade" property="pGrade" />
            <columnOverride column="p_grade_name" property="pGradeName" />
            <columnOverride column="p_grade_date" property="pGradeDate" />
            <columnOverride column="p_grade_minister" property="pGradeMinister" />
            <columnOverride column="p_grade_church" property="pGradeChurch" />
            <columnOverride column="p_grade_ord" property="pGradeOrd" />
            <columnOverride column="guide" property="guide" />
            <columnOverride column="guide2" property="guide2" />
            <columnOverride column="guide_phone" property="guidePhone" />
            <columnOverride column="guide_relation" property="guideRelation" />
            <columnOverride column="regi_date" property="regiDate" />
            <columnOverride column="reception_date" property="receptionDate" />
            <columnOverride column="wedding" property="wedding" />
            <columnOverride column="wedding_anniversary" property="weddingAnniversary" />
            <columnOverride column="christening" property="christening" />
            <columnOverride column="christening_name" property="christeningName" />
            <columnOverride column="christening_date" property="christeningDate" />
            <columnOverride column="christening_church" property="christeningChurch" />
            <columnOverride column="christening_minister" property="christeningMinister" />
            <columnOverride column="christening_ord" property="christeningOrd" />
            <columnOverride column="last_church" property="lastChurch" />
            <columnOverride column="last_grade" property="lastGrade" />
            <columnOverride column="last_act" property="lastAct" />
            <columnOverride column="member_zipcode" property="memberZipcode" />
            <columnOverride column="member_address1" property="memberAddress1" />
            <columnOverride column="member_address2" property="memberAddress2" />
            <columnOverride column="member_address_street" property="memberAddressStreet" />
            <columnOverride column="member_address_street2" property="memberAddressStreet2" />
            <columnOverride column="member_zipcode_street" property="member_zipcodeStreet" />
            <columnOverride column="job" property="job" />
            <columnOverride column="job_type_name" property="jobTypeName" />
            <columnOverride column="job_type" property="jobType" />
            <columnOverride column="career_name" property="careerName" />
            <columnOverride column="career" property="career" />
            <columnOverride column="company_name" property="companyName" />
            <columnOverride column="company_position" property="companyPosition" />
            <columnOverride column="company_phone" property="companyPhone" />
            <columnOverride column="school_type" property="schoolType" />
            <columnOverride column="school_name" property="schoolName" />
            <columnOverride column="school_year" property="schoolYear" />
            <columnOverride column="school_grade" property="schoolGrade" />
            <columnOverride column="school_major" property="schoolMajor" />
            <columnOverride column="school_class" property="schoolClass" />
            <columnOverride column="car_number" property="carNumber" />
            <columnOverride column="car_type" property="carType" />
            <columnOverride column="parking_permit" property="parkingPermit" />
            <columnOverride column="car_memo" property="carMemo" />
            <columnOverride column="etc" property="etc" />
            <columnOverride column="etc_secure" property="etcSecure" />
            <columnOverride column="member_image" property="memberImage" />
            <columnOverride column="inputDate" property="inputDate" />
            <columnOverride column="register_id" property="registerId" />
            <columnOverride column="register_name" property="registerName" />
            <columnOverride column="last_view" property="lastView" />
            <columnOverride column="modifier_id" property="modifierId" />
            <columnOverride column="modifier_name" property="modifierName" />
            <columnOverride column="etc1" property="etc1" />
            <columnOverride column="etc2" property="etc2" />
            <columnOverride column="etc3" property="etc3" />
            <columnOverride column="etc4" property="etc4" />
            <columnOverride column="etc5" property="etc5" />
            <columnOverride column="etc6" property="etc6" />
            <columnOverride column="etc7" property="etc7" />
            <columnOverride column="etc8" property="etc8" />
            <columnOverride column="etc9" property="etc9" />
            <columnOverride column="removed" property="removed" />
            <columnOverride column="cDepth1" property="cDepth1" />
            <columnOverride column="cDepth2" property="cDepth2" />
            <columnOverride column="cDepth1Name" property="cDepth1Name" />
            <columnOverride column="cDepth2Name" property="cDepth2Name" />
            <columnOverride column="cGroupUpdateDate" property="cGroupUpdateDate" />
            <columnOverride column="partner_name" property="partnerName" />
            <columnOverride column="partner_tid" property="partnerTid" />
            <columnOverride column="parent_name1" property="parentName1" />
            <columnOverride column="parent_phone1" property="parentPhone1" />
            <columnOverride column="parent_name2" property="parentName2" />
            <columnOverride column="parent_phone2" property="parentPhone2" />
            <columnOverride column="fid_before" property="fidBefore" />
            <columnOverride column="relation_before" property="relationBefore" />
            <columnOverride column="last_visit" property="lastVisit" />
            <columnOverride column="with_family" property="withFamily" />
            <columnOverride column="interest" property="interest" />
            <columnOverride column="last_kgrouplog" property="lastKgrouplog" />


        </table>
        
        
        <!--        
 
        
        
        <table schema="kyo6" tableName="nameCode" enableSelectByExample="false"
                                                 enableDeleteByExample="false"
                                                 enableCountByExample="false"
                                                 enableUpdateByExample="false"
                                                 selectByExampleQueryId="false">

            <columnOverride column="no" property="no" />
            <columnOverride column="type" property="type" />
            <columnOverride column="ord" property="ord" />
            <columnOverride column="name" property="name" />
            <columnOverride column="short_name" property="shortName" />
            <columnOverride column="fixed" property="fixed" />
            <columnOverride column="level" property="level" />


        </table>


        
        <table schema="sms" tableName="msg_queue" enableSelectByExample="false"
               enableDeleteByExample="false"
               enableCountByExample="false"
               enableUpdateByExample="false"
               selectByExampleQueryId="false">

            <columnOverride column="mseq" property="mseq"/>
            <columnOverride column="msg_type" property="msgType"/>
            <columnOverride column="send_type" property="sendType"/>
            <columnOverride column="dkey" property="dkey"/>
            <columnOverride column="dcnt" property="dcnt"/>
            <columnOverride column="dstaddr" property="dstaddr"/>
            <columnOverride column="callback" property="callback"/>
            <columnOverride column="stat" property="stat"/>
            <columnOverride column="text_type" property="textType"/>
            <columnOverride column="text" property="text"/>
            <columnOverride column="expiretime" property="expiretime"/>
            <columnOverride column="filecnt" property="filecnt"/>
            <columnOverride column="fileloc1" property="fileloc1"/>
            <columnOverride column="filesize1" property="filesize1"/>
            <columnOverride column="fileloc2" property="fileloc2"/>
            <columnOverride column="filesize2" property="filesize2"/>
            <columnOverride column="fileloc3" property="fileloc3"/>
            <columnOverride column="filesize3" property="filesize3"/>
            <columnOverride column="fileloc4" property="fileloc4"/>
            <columnOverride column="filesize4" property="filesize4"/>
            <columnOverride column="fileloc5" property="fileloc5"/>
            <columnOverride column="filesize5" property="filesize5"/>
            <columnOverride column="filecnt_checkup" property="filecntCheckup"/>
            <columnOverride column="insert_time" property="insertTime"/>
            <columnOverride column="request_time" property="requestTime"/>
            <columnOverride column="send_time" property="sendTime"/>
            <columnOverride column="report_time" property="reportTime"/>
            <columnOverride column="tcprecv_time" property="tcprecvTime"/>
            <columnOverride column="save_time" property="saveTime"/>
            <columnOverride column="telecom" property="telecom"/>
            <columnOverride column="readreply" property="readreply"/>
            <columnOverride column="result" property="result"/>
            <columnOverride column="repcnt" property="repcnt"/>
            <columnOverride column="server_id" property="serverId"/>
            <columnOverride column="opt_id" property="optId"/>
            <columnOverride column="opt_cmp" property="optCmp"/>
            <columnOverride column="opt_post" property="optPost"/>
            <columnOverride column="opt_name" property="optName"/>
            <columnOverride column="ext_col0" property="extCol0"/>
            <columnOverride column="ext_col1" property="extCol1"/>
            <columnOverride column="ext_col2" property="extCol2"/>
            <columnOverride column="ext_col3" property="extCol3"/>
            <columnOverride column="msg_charge_idx" property="msgChargeIdx"/>
            <columnOverride column="msg_tag" property="msgTag"/>
            <columnOverride column="member_idx" property="memberIdx"/>
            <columnOverride column="point_log_idx" property="pointLogIdx"/>
            <columnOverride column="refunded" property="refunded"/>

        </table>

        <table schema="ohjic" tableName="msg_result" enableSelectByExample="false"
               enableDeleteByExample="false"
               enableCountByExample="false"
               enableUpdateByExample="false"
               selectByExampleQueryId="false">

            <columnOverride column="mseq" property="mseq"/>
            <columnOverride column="msg_type" property="msgType"/>
            <columnOverride column="send_type" property="sendType"/>
            <columnOverride column="dkey" property="dkey"/>
            <columnOverride column="dcnt" property="dcnt"/>
            <columnOverride column="dstaddr" property="dstaddr"/>
            <columnOverride column="callback" property="callback"/>
            <columnOverride column="stat" property="stat"/>
            <columnOverride column="text_type" property="textType"/>
            <columnOverride column="text" property="text"/>
            <columnOverride column="expiretime" property="expiretime"/>
            <columnOverride column="filecnt" property="filecnt"/>
            <columnOverride column="fileloc1" property="fileloc1"/>
            <columnOverride column="filesize1" property="filesize1"/>
            <columnOverride column="fileloc2" property="fileloc2"/>
            <columnOverride column="filesize2" property="filesize2"/>
            <columnOverride column="fileloc3" property="fileloc3"/>
            <columnOverride column="filesize3" property="filesize3"/>
            <columnOverride column="fileloc4" property="fileloc4"/>
            <columnOverride column="filesize4" property="filesize4"/>
            <columnOverride column="fileloc5" property="fileloc5"/>
            <columnOverride column="filesize5" property="filesize5"/>
            <columnOverride column="filecnt_checkup" property="filecntCheckup"/>
            <columnOverride column="insert_time" property="insertTime"/>
            <columnOverride column="request_time" property="requestTime"/>
            <columnOverride column="send_time" property="sendTime"/>
            <columnOverride column="report_time" property="reportTime"/>
            <columnOverride column="tcprecv_time" property="tcprecvTime"/>
            <columnOverride column="save_time" property="saveTime"/>
            <columnOverride column="telecom" property="telecom"/>
            <columnOverride column="readreply" property="readreply"/>
            <columnOverride column="result" property="result"/>
            <columnOverride column="repcnt" property="repcnt"/>
            <columnOverride column="server_id" property="serverId"/>
            <columnOverride column="opt_id" property="optId"/>
            <columnOverride column="opt_cmp" property="optCmp"/>
            <columnOverride column="opt_post" property="optPost"/>
            <columnOverride column="opt_name" property="optName"/>
            <columnOverride column="ext_col0" property="extCol0"/>
            <columnOverride column="ext_col1" property="extCol1"/>
            <columnOverride column="ext_col2" property="extCol2"/>
            <columnOverride column="ext_col3" property="extCol3"/>
            <columnOverride column="msg_charge_idx" property="msgChargeIdx"/>
            <columnOverride column="msg_tag" property="msgTag"/>
            <columnOverride column="member_idx" property="memberIdx"/>
            <columnOverride column="point_log_idx" property="pointLogIdx"/>
            <columnOverride column="refunded" property="refunded"/>

        </table>



            <table schema="ohjic" tableName="historyPgrade" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="history_idx" property="historyIdx" />
                <columnOverride column="p_grade_name" property="pGradeName" />
                <columnOverride column="p_grade" property="pGrade" />
                <columnOverride column="p_grade_date" property="pGradeDate" />
                <columnOverride column="p_grade_minister" property="pGradeMinister" />
                <columnOverride column="p_grade_church" property="pGradeChurch" />
                <columnOverride column="managerNo" property="managerNo" />
                <columnOverride column="reg_date" property="regDate" />
                <columnOverride column="tid" property="tid" />

            </table>

            <table schema="ohjic" tableName="historyChristening" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="history_idx" property="historyIdx" />
                <columnOverride column="christening_name" property="pGradeName" />
                <columnOverride column="christening" property="christening" />
                <columnOverride column="christening_date" property="christeningDate" />
                <columnOverride column="christening_minister" property="christeningMinister" />
                <columnOverride column="christening_church" property="christeningChurch" />
                <columnOverride column="managerNo" property="managerNo" />
                <columnOverride column="reg_date" property="regDate" />
                <columnOverride column="tid" property="tid" />

            </table>
            <table schema="ohjic" tableName="auth_in_charge" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="auth_in_charge_idx" property="authInChargeIdx" />
                <columnOverride column="auth_set_idx" property="authSetIdx" />
                <columnOverride column="manager_idx" property="managerIdx" />
                <columnOverride column="group_no" property="groupNo" />
                <columnOverride column="reg_date" property="regDate" />

            </table>



            <table schema="member" tableName="manager" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="managerNo" property="managerNo" />
                <columnOverride column="name" property="name" />
                <columnOverride column="id" property="id" />
                <columnOverride column="tid" property="tid" />
                <columnOverride column="grade" property="grade" />
                <columnOverride column="regi_date" property="regi_date" />
                <columnOverride column="comment" property="comment" />
                <columnOverride column="isSms" property="isSms" />
                <columnOverride column="edu_auth" property="edu_auth" />
                <columnOverride column="expelAuth" property="expelAuth" />
                <columnOverride column="visit_category_auth" property="visit_category_auth" />
                <columnOverride column="tmpId" property="tmpId" />
                <columnOverride column="password" property="password" />
                <columnOverride column="tid" property="tid" />
                <columnOverride column="log_fail_cnt" property="log_fail_cnt" />
                <columnOverride column="readGuide" property="readGuide" />
                <columnOverride column="config" property="config" />

            </table>

            <table schema="ohjic" tableName="cGroup" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="no" property="no" />
                <columnOverride column="ord" property="ord" />
                <columnOverride column="depth1" property="depth1" />
                <columnOverride column="depth2" property="depth2" />
                <columnOverride column="depth1Name" property="depth1Name" />
                <columnOverride column="depth2Name" property="depth2Name" />
                <columnOverride column="depth" property="groupName" />
                <columnOverride column="display_status" property="displayStatus" />


            </table>
            <table schema="ohjic" tableName="group_info" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="info_idx" property="infoIdx" />
                <columnOverride column="year" property="year" />
                <columnOverride column="group_no" property="groupNo" />
                <columnOverride column="group_type" property="groupType" />
                <columnOverride column="age_band" property="age_band" />
                <columnOverride column="meeting_day" property="meetingDay" />
                <columnOverride column="meeting_time" property="meetingTime" />
                <columnOverride column="meeting_time_text" property="meetingTimeText" />
                <columnOverride column="meeting_place" property="meetingPlace" />
                <columnOverride column="meeting_place_text" property="meetingPlaceText" />
                <columnOverride column="meeting_area" property="meetingArea" />
                <columnOverride column="free_item1" property="freeItem1" />
                <columnOverride column="free_item2" property="freeItem2" />
                <columnOverride column="free_item3" property="freeItem3" />
                <columnOverride column="free_item4" property="freeItem4" />
                <columnOverride column="free_item5" property="freeItem5" />
                <columnOverride column="free_item6" property="freeItem6" />
                <columnOverride column="free_item7" property="freeItem7" />
                <columnOverride column="free_item8" property="freeItem8" />
                <columnOverride column="free_item9" property="freeItem9" />


            </table>

            <table schema="ohjic" tableName="next_year_setting_status" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="next_year_setting_idx" property="nextYearSettingIdx" />
                <columnOverride column="church_code" property="churchCode" />
                <columnOverride column="year" property="year" />
                <columnOverride column="k_part_idx" property="kPartIdx" />
                <columnOverride column="status" property="status" />
                <columnOverride column="manager_idx" property="managerIdx" />
                <columnOverride column="update_date" property="updateDate" />
                <columnOverride column="reg_date" property="regDate" />


            </table>
            <table schema="ohjic" tableName="worshipGroup" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="year" property="year" />
                <columnOverride column="groupNo" property="groupNo" />
                <columnOverride column="worshipCode" property="worshipCode" />
                <columnOverride column="groupName" property="groupName" />
                <columnOverride column="reg_date" property="regDate" />


            </table>

               <table schema="ohjic" tableName="auth_group" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="auth_set_idx" property="authSetIdx" />
                <columnOverride column="sort_no" property="sort_no" />
                <columnOverride column="auth_type_idx" property="auth_type_idx" />
                <columnOverride column="value" property="value" />
                <columnOverride column="reg_date" property="regDate" />

            </table>

            <table schema="ohjic" tableName="auth_in_charge" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="auth_in_charge_idx" property="authInChargeIdx" />
                <columnOverride column="auth_set_idx" property="authSetIdx" />
                <columnOverride column="manager_idx" property="managerIdx" />
                <columnOverride column="group_no" property="groupNo" />
                <columnOverride column="reg_date" property="regDate" />

            </table>

            <table schema="ohjic" tableName="kGroup" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="no" property="no" />
                <columnOverride column="year" property="year" />
                <columnOverride column="k_part_idx" property="kPartIdx" />
                <columnOverride column="depth1" property="depth1" />
                <columnOverride column="depth2" property="depth2" />
                <columnOverride column="depth3" property="depth3" />
                <columnOverride column="depth4" property="depth4" />
                <columnOverride column="depth5" property="depth5" />
                <columnOverride column="ord" property="ord" />
                <columnOverride column="depth1_name" property="depth1Name" />
                <columnOverride column="depth2_name" property="depth2Name" />
                <columnOverride column="depth3_name" property="depth3Name" />
                <columnOverride column="depth4_name" property="depth4Name" />
                <columnOverride column="depth5_name" property="depth5Name" />
                <columnOverride column="depth" property="depth" />
                <columnOverride column="group_name" property="groupName" />
                <columnOverride column="start_date" property="startDate" />
                <columnOverride column="end_date" property="endDate" />
                <columnOverride column="reportType" property="reportType" />
                <columnOverride column="reportItem" property="reportItem" />
                <columnOverride column="reg_date" property="regDate" />


            </table>
            <table schema="ohjic" tableName="church_use_number" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="church_code" property="churchCode" />
                <columnOverride column="church_name" property="churchName" />
                <columnOverride column="limit" property="limit" />
                <columnOverride column="kyo_number" property="kyoNumber" />
                <columnOverride column="regi_date" property="regiDate" />


            </table>


            <table schema="ohjic" tableName="kGroupLog" enableSelectByExample="false"
                                                     enableDeleteByExample="false"
                                                     enableCountByExample="false"
                                                     enableUpdateByExample="false"
                                                     selectByExampleQueryId="false">

                <columnOverride column="no" property="no" />
                <columnOverride column="start_date" property="startDate" />
                <columnOverride column="end_date" property="endDate" />
                <columnOverride column="sortNo" property="sortNo" />
                <columnOverride column="attend_type" property="attendType" />
                <columnOverride column="year" property="year" />
                <columnOverride column="k_part_idx" property="kPartIdx" />
                <columnOverride column="group_no" property="groupNo" />
                <columnOverride column="group_name" property="groupName" />
                <columnOverride column="depth1_name" property="depth1Name" />
                <columnOverride column="depth2_name" property="depth2Name" />
                <columnOverride column="depth3_name" property="depth3Name" />
                <columnOverride column="depth4_name" property="depth4Name" />
                <columnOverride column="depth5_name" property="depth5Name" />
                <columnOverride column="depth1" property="depth1" />
                <columnOverride column="depth2" property="depth2" />
                <columnOverride column="depth3" property="depth3" />
                <columnOverride column="depth4" property="depth4" />
                <columnOverride column="depth5" property="depth5" />
                <columnOverride column="tid" property="tid" />
                <columnOverride column="position" property="position" />
                <columnOverride column="position_name" property="positionName" />
                <columnOverride column="position_ord" property="positionOrd" />
                <columnOverride column="name" property="name" />
                <columnOverride column="chief" property="chief" />


            </table>
             -->
        <!-- <table schema="ohjic" tableName="churchInfo" enableSelectByExample="false"
                                                 enableDeleteByExample="false"
                                                 enableCountByExample="false"
                                                 enableUpdateByExample="false"
                                                 selectByExampleQueryId="false">

            <columnOverride column="churchCode" property="churchCode" />
            <columnOverride column="churchName" property="churchName" />
            <columnOverride column="religiousBody" property="religiousBody" />
            <columnOverride column="churchSize" property="churchSize" />
            <columnOverride column="ministerName" property="ministerName" />
            <columnOverride column="churchAddress1" property="churchAddress1" />
            <columnOverride column="churchAddress2" property="churchAddress2" />
            <columnOverride column="churchZipcode" property="churchZipcode" />
            <columnOverride column="churchPhone" property="churchPhone" />
            <columnOverride column="adminId" property="adminId" />
            <columnOverride column="oldProgram" property="oldProgram" />
            <columnOverride column="homepage" property="homepage" />
            <columnOverride column="regiDate" property="regiDate" />
            <columnOverride column="deleteFlag" property="deleteFlag" />
            <columnOverride column="point" property="point" />
            <columnOverride column="version" property="version" />


        </table> -->


        <!--
        <table schema="member" tableName="member" enableSelectByExample="false"
                                                 enableDeleteByExample="false"
                                                 enableCountByExample="false"
                                                 enableUpdateByExample="false"
                                                 selectByExampleQueryId="false">

            <columnOverride column="tid" property="tid" />
            <columnOverride column="fid" property="fid" />
            <columnOverride column="grade" property="grade" />
            <columnOverride column="fam_leader" property="famLeader" />
            <columnOverride column="relation" property="relation" />
            <columnOverride column="member_name" property="memberName" />
            <columnOverride column="member_name_distinct" property="memberNameDistinct" />
            <columnOverride column="member_name_en" property="memberNameEn" />
            <columnOverride column="member_name_han" property="memberNameHan" />
            <columnOverride column="rrn_id1" property="rrnId1" />
            <columnOverride column="rrn_id2" property="rrnId2" />
            <columnOverride column="birth_year" property="birthYear" />
            <columnOverride column="birth_date" property="birthDate" />
            <columnOverride column="birth_solar" property="birthSolar" />
            <columnOverride column="member_sex" property="memberSex" />
            <columnOverride column="blood_type" property="blood_type" />
            <columnOverride column="member_homepage" property="memberHomepage" />
            <columnOverride column="member_phone" property="memberPhone" />
            <columnOverride column="member_cellphone" property="memberCellphone" />
            <columnOverride column="member_email" property="memberEmail" />
            <columnOverride column="p_grade" property="pGrade" />
            <columnOverride column="p_grade_name" property="pGradeName" />
            <columnOverride column="p_grade_date" property="pGradeDate" />
            <columnOverride column="p_grade_minister" property="pGradeMinister" />
            <columnOverride column="p_grade_church" property="pGradeChurch" />
            <columnOverride column="p_grade_ord" property="pGradeOrd" />
            <columnOverride column="guide" property="guide" />
            <columnOverride column="guide2" property="guide2" />
            <columnOverride column="guide_phone" property="guidePhone" />
            <columnOverride column="guide_relation" property="guideRelation" />
            <columnOverride column="regi_date" property="regiDate" />
            <columnOverride column="reception_date" property="receptionDate" />
            <columnOverride column="wedding" property="wedding" />
            <columnOverride column="wedding_anniversary" property="weddingAnniversary" />
            <columnOverride column="christening" property="christening" />
            <columnOverride column="christening_name" property="christeningName" />
            <columnOverride column="christening_date" property="christeningDate" />
            <columnOverride column="christening_church" property="christeningChurch" />
            <columnOverride column="christening_minister" property="christeningMinister" />
            <columnOverride column="christening_ord" property="christeningOrd" />
            <columnOverride column="last_church" property="lastChurch" />
            <columnOverride column="last_grade" property="lastGrade" />
            <columnOverride column="last_act" property="lastAct" />
            <columnOverride column="member_zipcode" property="memberZipcode" />
            <columnOverride column="member_address1" property="memberAddress1" />
            <columnOverride column="member_address2" property="memberAddress2" />
            <columnOverride column="member_address_street" property="memberAddressStreet" />
            <columnOverride column="member_address_street2" property="memberAddressStreet2" />
            <columnOverride column="member_zipcode_street" property="member_zipcodeStreet" />
            <columnOverride column="job" property="job" />
            <columnOverride column="job_type_name" property="jobTypeName" />
            <columnOverride column="job_type" property="jobType" />
            <columnOverride column="career_name" property="careerName" />
            <columnOverride column="career" property="career" />
            <columnOverride column="company_name" property="companyName" />
            <columnOverride column="company_position" property="companyPosition" />
            <columnOverride column="company_phone" property="companyPhone" />
            <columnOverride column="school_type" property="schoolType" />
            <columnOverride column="school_name" property="schoolName" />
            <columnOverride column="school_year" property="schoolYear" />
            <columnOverride column="school_grade" property="schoolGrade" />
            <columnOverride column="school_major" property="schoolMajor" />
            <columnOverride column="school_class" property="schoolClass" />
            <columnOverride column="car_number" property="carNumber" />
            <columnOverride column="car_type" property="carType" />
            <columnOverride column="parking_permit" property="parkingPermit" />
            <columnOverride column="car_memo" property="carMemo" />
            <columnOverride column="etc" property="etc" />
            <columnOverride column="etc_secure" property="etcSecure" />
            <columnOverride column="member_image" property="memberImage" />
            <columnOverride column="inputDate" property="inputDate" />
            <columnOverride column="register_id" property="registerId" />
            <columnOverride column="register_name" property="registerName" />
            <columnOverride column="last_view" property="lastView" />
            <columnOverride column="modifier_id" property="modifierId" />
            <columnOverride column="modifier_name" property="modifierName" />
            <columnOverride column="etc1" property="etc1" />
            <columnOverride column="etc2" property="etc2" />
            <columnOverride column="etc3" property="etc3" />
            <columnOverride column="etc4" property="etc4" />
            <columnOverride column="etc5" property="etc5" />
            <columnOverride column="etc6" property="etc6" />
            <columnOverride column="etc7" property="etc7" />
            <columnOverride column="etc8" property="etc8" />
            <columnOverride column="etc9" property="etc9" />
            <columnOverride column="removed" property="removed" />
            <columnOverride column="cDepth1" property="cDepth1" />
            <columnOverride column="cDepth2" property="cDepth2" />
            <columnOverride column="cDepth1Name" property="cDepth1Name" />
            <columnOverride column="cDepth2Name" property="cDepth2Name" />
            <columnOverride column="cGroupUpdateDate" property="cGroupUpdateDate" />
            <columnOverride column="partner_name" property="partnerName" />
            <columnOverride column="partner_tid" property="partnerTid" />
            <columnOverride column="parent_name1" property="parentName1" />
            <columnOverride column="parent_phone1" property="parentPhone1" />
            <columnOverride column="parent_name2" property="parentName2" />
            <columnOverride column="parent_phone2" property="parentPhone2" />
            <columnOverride column="fid_before" property="fidBefore" />
            <columnOverride column="relation_before" property="relationBefore" />
            <columnOverride column="last_visit" property="lastVisit" />
            <columnOverride column="with_family" property="withFamily" />
            <columnOverride column="interest" property="interest" />
            <columnOverride column="last_kgrouplog" property="lastKgrouplog" />


        </table>
         -->
    </context>

</generatorConfiguration>